
@{
    ViewBag.Title = "SBuyer";
}
<h2>Создать покупателя</h2>
<form action="/SingleBuyer/SingleBuyer" method="post">
    <div class="item">
        <label>ФИО клиента:</label>
        <input name="BuyerFIO" value="Buyer" />
        <h1>Покупатель</h1>
    </div>
    <input type="submit" name="action" value="Отправить" />
    @*<input type="submit" name="action" value="Отмена" />*@
</form>


