@model VirtualStore.Ingredient
@{
    ViewBag.Title = "Ingredient";
}
<style>
    .dataTeble {
        margin-top: 50px;
    }

    input[name=action] {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .firstpost {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
<h2>Суши</h2>
<form method="post">
    <div class="firstpost">
        <label>Цена:</label>
        <input name="value" value="0" />
    </div>
    <div class="firstpost">
        <label>Название:</label>
        <input name="ingredientName" value="" />
    </div>

    <div>
        <input type="submit" name="action" value="Add" />
        @*<a href="/IngredientElement/IngredientElement" target="_blank">ССЫЛКА!</a>*@
        <input type="submit" name="action" value="Change" />
        <input type="submit" name="action" value="Delete" />
        <input type="submit" name="action" value="Update" />
        <br>
        <table class="dataTeble">
            @*@ViewBag.DataList*@
            @*@Html.TextBox("DataList")*@
        </table>
        @using VirtualStore;
        @using VirtualStorePlace.LogicInterface;
        @using VirtualStorePlace.ConnectingModel;
        @using VirtualStorePlace.UserViewModel;
        <select name="ingredientList" multiple>

            @{  int i = 0;
                foreach (IngredientElementUserViewModel st in @ViewBag.DataList)
                {
                    i++;
                    <option value="@i">@st.ElementName   @st.Count </option>
                }
            }
        </select>
    </div>
    <input type="submit" name="action" value="Save" />
    <input type="submit" name="action" value="Cancel" />
</form>